<div class="columns is-centered">
  <div class="column is-8 content">

    <p class="title is-5"> Contacts </p>
    <p>I would love to keep in touch! You can email me at
      <b>
        <a href="mailto:rohitsuratekar@gmail.com" target="_top"> rohitsuratekar@gmail.com</a>
      </b> or can contact through any of following networking sites. If you like my work, you can follow/subscribe to
      my
      page/account :)</p>
    <p class="title is-5">Social Networks</p>
    <ul>
      <li>
        <a href="https://twitter.com/rohitsuratekar" target="_blank">Twitter</a>
      </li>
      <li>
        <a href="http://instagram.com/rohitsuratekar" target="_blank">Instagram</a>
      </li>
      <li>
        <a href="https://plus.google.com/u/0/+RohitSuratekar" target="_blank">Google Plus</a>
      </li>
      <li>
        <a href="http://facebook.com/rohitsuratekar" target="_blank">Facebook</a> (temporary deactivated)</li>

    </ul>
    <p class="title is-5">Professional Profiles</p>
    <ul>
      <li>
        <a href="http://orcid.org/0000-0002-6281-5526" target="_blank">ORCID</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/rohitsuratekar/" target="_blank">LinkedIn</a>
      </li>
      <li>
        <a href="https://www.researchgate.net/profile/Rohit_Suratekar" target="_blank">ResearchGate</a>
      </li>
    </ul>
    <p class="title is-5">Developer Profiles</p>
    <ul>
      <li>
        <a href="https://github.com/rohitsuratekar" target="_blank">GitHub</a>
      </li>
      <li>
        <a href="https://stackoverflow.com/users/5284595/dexter" target="_blank"> StackOverflow</a>
      </li>
      <li>
        <a href="https://bitbucket.org/rohitsuratekar/" target="_blank"> BitBucket </a>
      </li>
    </ul>
    <p class="title is-5">Photography</p>
    <ul>
      <li>
        <a href="http://instagram.com/rohitsuratekar" target="_blank">Instagram</a>
      </li>
      <li>
        <a href="https://500px.com/rohitsuratekar" target="_blank">500px</a>
      </li>
      <li>
        <a href="http://yourshot.nationalgeographic.com/profile/833338/" target="_blank">NatGeo YourShot</a>
      </li>
      <li>
        <a href="https://gurushots.com/rohitsuratekar/photos" target="_blank">GuruShots</a>
      </li>
    </ul>
    <p class="title is-5">Art</p>
    <ul>
      <li>
        <a href="https://rohitsuratekar.wordpress.com/" target="_blank">Old Personal Blog</a>
      </li>
      <li>
        <a href="https://www.behance.net/rohitsuratekar" target="_blank">Behance</a>
      </li>
      <li>
        <a href="https://www.youtube.com/user/superrcs" target="_blank">YouTube</a>
      </li>
      <li>
        <a href="https://theunknowndna.wordpress.com/" target="_blank">Science Blog</a>
      </li>
    </ul>
    <p class="title is-5">Other</p>
    <ul>
      <li>
        <a href="https://boardgamegeek.com/user/thedexter" target="_blank">BoardGameGeek</a>
      </li>
      <li>
        <a href="https://www.goodreads.com/rohitsuratekar" target="_blank">GoodReads</a>
      </li>
      <li>
        <a href="https://en.wikipedia.org/wiki/User:Rohitsuratekar" target="_blank">WikiMedia</a>
      </li>
    </ul>
  </div>
</div>