<div class="row fill-parent flex-items-xs-center">
  <div class="col-xl-10">
    <h3>General Credits</h3>
    <p></p>
    <ul class="list">
      <li>Complete website is made by Rohit Suratekar with following libraries and components</li>
      <ul class="list">
        <li>Angular JS 2</li>
        <li>Clarity Project</li>
        <li>Angular Material library</li>
      </ul>
    </ul>
    <h3>Home Photo Credits</h3>
    <p></p>
    <ul class="list">
      <li>About me: Pritha Ghosh</li>
      <li>Academic Profile: Ramya Putkarni</li>
      <li>Developer profile: Pritha Ghosh</li>
      <li>Artist profile: Nitya Nandkishor</li>
    </ul>
    <h3>About Me Photo Credits</h3>
    <p></p>
    <p>Photo was clicked by Pritha Ghosh in Munnar, Kerala in 2014</p>
    <h3>Developers Profile Credits</h3>
    <p></p>
    <ul class="list">
        <li>Charts.js library for creating charts</li>
        <li>Platforms/language icons</li>
        <ul class="list">
            <li>Android: </li>
            <li>Python</li>
            <li>Java</li>
          </ul>
      </ul>
  </div>
</div>