<div class="row flex-items-xs-center">
    <div class="col-xl-10 col-xs-10 ">
      <h3>License and Copyright</h3>
      <p>As an open source and creative commons supporter, I have put following open licenses to content of this website</p>
      <ul class="list">
        <li>Website Source Code - <a href="https://github.com/rohitsuratekar/PersonalWebsite/blob/master/LICENSE" target="_blank">MIT License</a></li>
        <li>All photographs (clicked by me) <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a> <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a> </li>
        <li>All sketches and poems <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/80x15.png" /></a> <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a> </li>
        <li>Digital Designing content copyright is mentioned on respective project page.</li>
        <li>Any Digital Designing content without project page should be considered with <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/80x15.png" /></a> <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a> </li>        
        <li>Project code licenses are on their respective GitHub repositories.</li>
      </ul>
        <h3>General Credits</h3>
        <p></p>
        <ul class="list">
            <li>Complete website is made by Rohit Suratekar with following libraries and components</li>
            <ul class="list">
                <li> <a href="https://angular.io/" target="_blank"> Angular JS 2</a> - Framework and Frontend ( <a href="https://angular.io/license" target="_blank">MIT License</a>)</li>
                <li><a href="https://vmware.github.io/clarity/" target="_blank">Clarity Design </a> - UI components (MIT license, Open Font License)</li>
                <li> <a href="https://github.com/angular/material2" target="_blank">Material Design for Angular </a> - UI components (<a href="https://github.com/angular/material2/blob/master/LICENSE" target="_blank"> MIT license</a>)</li>
                <li> <a href="https://nodejs.org/en/" target="_blank">Node.js</a> - for dependency management (<a href="https://github.com/nodejs/node/blob/master/LICENSE" target="_black">Mixed Licenses</a>)</li>
              </ul>
        </ul>
        <h3>Home Photo Credits</h3>
        <p></p>
        <ul class="list">
            <li>About me: Pritha Ghosh</li>
            <li>Academic Profile: Ramya Purkanti</li>
            <li>Developer profile: Pritha Ghosh</li>
            <li>Artist profile: Nitya Nandkishor</li>
        </ul>
        <h3>About Me Photo Credits</h3>
        <p></p>
        <p>Photo was clicked by Pritha Ghosh in Munnar, Kerala in 2014</p>
        <h3>Artist Photo Credits</h3>
        <p></p>
        <p>Photo was clicked by Rohit Suratekar and modified in Photoshop.<br> Photo is under <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a> <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a> </p>
        <h3>Developers Profile Credits</h3>
        <p></p>
        <ul class="list">
            <li><a href="http://www.chartjs.org/" target="_black">Charts.js </a> library for creating charts ( <a href="https://github.com/chartjs/Chart.js/blob/master/LICENSE.md" target="_blank"> MIT License</a>)</li>
            <li>Platforms/language logos</li>
            <ul class="list">
                <li> <a href="https://developer.android.com/distribute/marketing-tools/brand-guidelines.html" target="_black"> Android </a> (<a href="https://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a> )</li>
                <li><a href="https://www.python.org/community/logos/" target="_black">Python</a> ( <a href="https://www.python.org/psf/trademarks/" target="_black"> PSF</a> Trademark Usage Policy)</li>
                <li>Java (<a href="http://www.oracle.com/us/technologies/java/java-licensing-logo-guidelines-1908204.pdf" target="_blank">Restricted License</a>)</li>
                <li> <a href="https://angular.io/presskit" target="_blank"> AngularJS </a> ( <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0</a>)</li>
                <li> <a href="https://commons.wikimedia.org/wiki/File:LaTeX_logo.svg" target="_blank">Latex</a> (Public Domain)</li>
            </ul>
        </ul>
    </div>
</div>
