<div class="columns is-multiline is-centered">
    <div class="column is-12-mobile is-5-tablet is-5-desktop">

        <div class="card shadow-box">
            <div class="card-image">
                <figure class="image">
                    <img src="assets\img\about\myself.png" alt="Alma matter">
                </figure>
            </div>
            <div class="card-content" style="background:#e5eaea">
                <div class="content is-size-6 justify-this">
                    Hello :) I am Rohit Suratekar and this website portrays my skill set! I was born and grew up in a middle-class family in
                    the small city of Kolhapur in the western Indian state of Maharashtra, known for its vibrant culture.
                    Since my childhood, my dream profession has shifted from becoming a Pokemon master, WWE wrestler, poet,
                    engineer to finally a scientist. By the way, I know Marathi, Hindi and English. In addition, I have formally
                    studied Sanskrit and Russian.
                </div>
            </div>
        </div>
    </div>

    <div class="column is-12-mobile is-6-tablet is-5-desktop">

        <div class="card shadow-box">
            <div class="card-image">
                <figure class="image">
                    <img src="assets\img\about\alma_matter.png" alt="Alma matter">
                </figure>
            </div>
            <div class="card-content" style="background:#e5eaea">
                <div class="content">
                    <div class="is-size-6 marginless">
                        <strong>Postdoctoral Fellow </strong> <span class="is-italic"> in Developmental Biology
                        </span></div>
                    <div class="is-size-7 marginless">
                        <br>International Institute of Molecular and Cell Biology, Warsaw, Poland</div>
                    <br>
                    <div class="is-size-6 marginless">
                        <strong> Doctor of Philosophy </strong><span class="is-italic"> in Computational Biology </span></div>
                    <div class="is-size-7 marginless">
                        <br>National Centre for Biological Sciences, TIFR, Bangalore, India</div>
                    <br>
                    <div class="is-size-6 marginless">
                        <strong> Bachelor of Technology </strong><span class="is-italic"> in Biotechnology </span></div>
                    <div class="is-size-7 marginless">
                        <br>Motilal Nehru National Institute of Technology, Allahabad, India</div>
                </div>
            </div>
        </div>
    </div>
</div>