<app-navbar></app-navbar>

<div style="padding : 10px;">
        <md-card [style.background]="'#81d4fa'" >
          <img src="assets/img/placeholder.jpg" class="md-card-image image-item" alt="user avatar">
              <md-card-content>
                  <h2>Title</h2>
                  <md-chip-list>
                      <md-chip>Papadum</md-chip>
                      <md-chip>Naan</md-chip>
                      <md-chip>Dal</md-chip>
                    </md-chip-list>
                  <p>Details</p>
              </md-card-content>
          <div class="md-actions" layout="row" class="">
              <div fxFlex></div>
              <button md-button>Read More</button>
          </div>
        </md-card>
        </div>

        <div fxFlex="30%">
                <md-card>
                    <md-card-content>
                        <h2>Programing languages</h2>
                        <h4>From <i>Noob</i> to <i>Ninja</i> level</h4>
                        <div fxLayout="column"  fxLayoutAlign="start start" *ngFor ="let l of lang" >
                            <div>{{l.name}}</div>
                            <md-progress-bar [color]="warn" [mode]="determinate" [value]= l.value> </md-progress-bar>
                            <div style="height:5px;"></div>
                        </div>
                        
            
                    </md-card-content>
                </md-card>
            </div>