<div fxLayout="column">
  <div>
    <h3>Publications</h3>
    <p>Rohit Suratekar, Padinjat Raghu, Sandeep Krishna. Evidence of sinks and sources in the PLC activated PIP<sub>2</sub>      cycle.
      <i>bioRxiv </i> 183509; doi: <a href="https://doi.org/10.1101/183509" target="_blank">https://doi.org/10.1101/183509</a></p>
  </div>

  <div>
    <h3>Research Talks</h3>
    <div>
      <span> Evidence of sinks and sources in the PLC activated PIP<sub>2</sub> cycle </span><br/>
      <span class="sub-details">Physical Concepts in Stem Cell Biology, August 6-10, 2017, Tisvildeleje, Denmark.</span>
    </div>

    <div class="blank-div"> </div>
    <div>
      <span>Speeding up PI(4,5)P<sub>2</sub> recovery with top gear </span><br/>
      <span class="sub-details">NCBS-RIKEN joint meeting for theoretical approaches in biology, April 7-10, 2015, Wako, Japan.</span>
    </div>
  </div>
  <div>
    <h3>Posters</h3>
    <div>
      <span>The Hitchhiker's Guide to The Regulation of PI(4,5)P<sub>2</sub> Cycle During Drosophila melanogaster Phototransduction </span><br/>
      <span class="sub-details">Futures in Biology - NCBS Annual Talks, January 11-14, 2017 Bangalore, India.</span>
    </div>
    <div class="blank-div"> </div>
    <div>
      <span>Regulation of levels of PI(4,5)P<sub>2</sub> on the plasma membrane</span><br/>
      <span class="sub-details">Biology across scale - NCBS Annual Talks, January 5-8, 2015 Bangalore, India.</span>
    </div>
    <div class="blank-div"> </div>
    <div>
      <span>PI(4,5)P<sub>2</sub> dynamics during Drosophila melagogaster phototransduction</span><br/>
      <span class="sub-details">Aspects of gene regulation, December 16 2014 Chennai, India.</span>
    </div>
    <div class="blank-div"> </div>
    <div>
      <span>PI(4,5)P<sub>2</sub> dynamics during Drosophila melagogaster phototransduction</span><br/>
      <span class="sub-details">NCBS Annual Talks, January 15-17, 2014 Bangalore, India.</span>
    </div>
    <div class="blank-div"> </div>
  </div>
  <div>
      <h3>Other conferences</h3>
      <div>Bangalore Complexity meeting, Bangalore, India (4 - 6 Feb 2017)</div>
      <div>Inositide signalling in health and disease, Coorge, India (28 Nov – 2 Dec 2012)</div>
  </div>
  <div class="blank-div"> </div>
  <div class="blank-div"> </div>

</div>