<div class="row flex-items-xs-center">

    <div class={{cardStyle}}>
        <div class="card ">
            <div class="card-header">
                How it all started ?
            </div>
            <div class="card-img">
                <img src="images/rohit_suratekar_photo.jpg" alt="..." />
            </div>
            <div class="card-block">
                <div class="card-text">
                    I have been always attracted towards visual art. I used to click rare photographs by my father’s old Kodak vintage camera
                    on some special occasion. That time, it was just fascination towards fancy technology. Soon there was
                    advent of digital cameras and everyone was creating memories of their own with their camera. My first
                    camera was Sony Cyber-shot. My father had gifted it to me during my graduation year. However, my actual
                    photography experience started when I purchased by own SLR in 2014. It was Canon 600D with 2 kit lenses.
                    I got it for cheap from some stock clearance sale. Soon I become ‘Amateur Photographer’. You can check
                    my photo gallery for few samples. I have also done some videography.
                </div>
            </div>
        </div>
    </div>

    <div class={{cardStyle}}>
        <div class="card ">
            <div class="card-header">
                What do I have ?
            </div>
            <div class="card-img">
                <img src="images/camera.jpg" alt="..." />
            </div>
            <div class="card-block">
                <div class="card-text">
                    Canon 600D, Canon EF-S 18-55mm f/3.5-5.6 IS II, Canon EF-S 55 - 250 mm f/4-5.6 IS II, Yongnuo 50mm f/1.8, Canon EF 100mm
                    f/2.8L Macro, Vanguard CX203AGH Espod, Few triggers and Filters
                </div>
            </div>
        </div>
    </div>

    <div class={{cardStyle}}>
        <div class="card ">
            <div class="card-header">
                What do I like ?
            </div>
            <div class="card-img">
                <img src="images/photo/fly.jpg" alt="..." />
            </div>
            <div class="card-block">
                <div class="card-text">
                    I generally like experimenting with different styles of photography. So far 
                    I have tried plenty of different types. My personal favorite is '<b>Macro Photography</b>'.
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-link" (click)="navigate('gallery')">
                            Check Gallery
                        </button>
                <button class="btn btn-sm btn-link">
                        500px profile
                    </button>
            </div>
        </div>
    </div>

</div>
