<div class="row flex-items-xs-center">

    <div class={{cardStyle}}>
        <div class="card ">
            <div class="card-header">
                How it all started ?
            </div>
            <div class="card-img">
                <img src="images/rohit_suratekar_photo.jpg" alt="..." />
            </div>
            <div class="card-block">
                <div class="card-text">
                    I have always been attracted towards visual art and spent a considerable part
                    of my childhood clicking photographs from my father’s vintage camera. Fascinated by
                    the advent of digital technology, like many others, I resorted to capturing moments
                    from my new digital camera, which was gifted to me by my father to mark my graduation
                    from college. However, my real experience with photography started when I laid my
                    hands on a SLR camera in early 2014. Soon I became a so-called amateur with photography,
                    as well as cinematography.
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-link" (click)="navigate('gallery')">
                            Check Gallery
                        </button>
            </div>
        </div>
    </div>

    <div class={{cardStyle}}>
        <div class="card ">
            <div class="card-header">
                What do I have ?
            </div>
            <div class="card-img">
                <img src="images/camera.jpg" alt="..." />
            </div>
            <div class="card-block">
                <div class="card-text ">
                    Canon 600D, Canon EF-S 18-55mm f/3.5-5.6 IS II, Canon EF-S 55 - 250 mm f/4-5.6 IS II, Yongnuo 50mm f/1.8, Canon EF 100mm
                    f/2.8L Macro, Vanguard CX203AGH Espod, Few triggers and Filters
                </div>
            </div>
        </div>
    </div>

    <div class={{cardStyle}}>
        <div class="card ">
            <div class="card-header">
                What do I like ?
            </div>
            <div class="card-img">
                <img src="images/photo/fly.jpg" alt="..." />
            </div>
            <div class="card-block">
                <div class="card-text">
                    Though I like experimenting with various genres of photography, in general,
                    <b>macro photography</b> has been a personal favourite.
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-link" (click)="navigate('gallery')">
                            Check Gallery
                        </button>
                <button class="btn btn-sm btn-link" (click)="goTo('https://instagram.com/rohitsuratekar')">
                        Instagram
                    </button>
            </div>
        </div>
    </div>

</div>
