<div class="row fill-parent flex-items-xs-center flex-items-xs-middle">
    <div class="col-lg-6 col-md-10 col-sm-11 col-xs-11">
        <div class="card">
            <div class="card-header row flex-items-xs-center">
                Art Forms
            </div>
            <div class="card-block">
                <div class="card-img">
                    <img src="images/art.jpg" alt="Art Form Picture" />
                </div>
            </div>
            <div class="card-footer row flex-items-xs-center">
                <button class="btn btn-sm btn-link" (click)="navigate('photography')">
                Photography
            </button>
                <button class="btn btn-sm btn-link" (click)="navigate('videography')">
                Cinematography
             </button>
                <button class="btn btn-sm btn-link" (click)="navigate('designing')">
                Digital Designing
            </button>
                <button class="btn btn-sm btn-link" (click)="navigate('sketching')">
                Sketching
            </button>
                <button class="btn btn-sm btn-link" (click)="navigate('writing')">
               Writing
            </button>
            </div>
        </div>
    </div>
</div>
