<div class="row fill-parent flex-items-xs-center flex-items-xs-middle">
<div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
        <div class="card-header row flex-items-xs-center">
            Art Forms
        </div>
        <div class="card-block">
            <div class="card-img">
                <img src="images/placeholder.jpg" alt="Art Form Picture" />
            </div>
        </div>
        <div class="card-footer row flex-items-xs-center">
            <button class="btn btn-sm btn-link">
                Photography
            </button>
            <button class="btn btn-sm btn-link">
                Digital Designing
            </button>
            <button class="btn btn-sm btn-link">
                Sketching
            </button>
            <button class="btn btn-sm btn-link">
               Writing
            </button>
        </div>
    </div>
</div>
</div>