<div class="row fill-parent flex-items-xs-center flex-items-xs-middle">
    <div class="row col-xl-5 col-lg-5 col-md-10 col-sm-11 col-xs-11 flex-items-xs-center">
        <figure>
            <img src="images/rohit_suratekar.jpg" alt="Rohit Suratekar Photo" />
            <figcaption class="text-caption">Amazed by western ghat beauty in 2014.</figcaption>
        </figure>
    </div>

    <div class="col-xl-6 col-lg-6 col-md-10 col-sm-11 col-xs-11">
        <h3>About Me</h3>
        <div class="spacer fill-justify"></div>
         Hello :) I am Rohit Suratekar and and this website portrays my skill set ! 
            I was born to and grew up in a middle class family in the small city of 
            Kolhapur in the western Indian state of Maharashtra, 
            known for its vibrant culture. Since my childhood, 
            my dream profession has shifted from becoming a Pokemon master, 
            WWE wrestler, poet, engineer to finally a scientist. At present, 
            I am striving towards my dreams and pursing a PhD in Computational Biology 
            at the National Centre for Biological Sciences (NCBS), Bengaluru .
      
        <h3>Alma Matter</h3>
        <div class="spacer"></div>
        <ul class="list">
            <li><span class="text-main">Doctor of Philosophy </span> in Computational Biology
                <br> National Centre for Biological Sciences, TIFR, Bangalore
            </li>
            <li><span class="text-main">Bachelor of Technology </span> in Biotechnology
                <br> Motilal Nehru National Institute of Technology, Allahabad
            </li>
            <li><span class="text-main">Higher Secondary Certificate</span>
                <br> Vivekanand College, Kolhapur
            </li>
        </ul>

        <h3>Contact Details</h3>
        <div class="spacer"></div>
        If you want to get in touch with me, see <a href="contact">contact</a> and social media details. See photo <a href="credits">credits</a>.
    </div>
</div>
<div class="spacer"></div>



    