<div class="row flex-items-xs-center">
    <div class={{commonClass}}>
        <h3>Publications and Preprints</h3>
        <p>
            Suratekar R, Panda A, Padinjat R, Krishna S (2018). Evidence of sinks and sources in the phospholipase C activated PIP
            <sub>2</sub> cycle.
            <i>FEBS Lett.</i> 2018 Mar ; 592(6):962-972. PubMed PMID: 29427502. doi:
            <a href="https://doi.org/10.1002/1873-3468.12998"
                target="_blank">10.1002/1873-3468.12998</a>
        </p>
        <p>Suratekar R, Padinjat R, Krishna S. Evidence of sinks and sources in the PLC activated PIP
            <sub>2</sub> cycle.
            <i>bioRxiv </i> 183509; 2018 Sep 1. doi:
            <a href="https://doi.org/10.1101/183509" target="_blank">10.1101/183509</a>
        </p>
    </div>

    <div class={{commonClass}}>
        <h3>Research Talks</h3>
        <div class="blank-div"> </div>
        <ul class="list">
            <li>
                <span>
                    <a href="http://fishmed2018.pl/" target="_blank">
                        2nd International FishMed Conference on Zebrafish Research, FishMed2018 </a>, March 25-27, 2018,
                    Warsaw, Poland.</span>
                <br/>
                <span class="sub-details"> Evidence of sinks and sources in the PLC activated PIP
                    <sub>2</sub> cycle </span>
            </li>
            <li>
                <span>
                    <a href="https://www.imsc.res.in/~rsidd/aogcr2018/" target="_blank">
                        Aspects of Gene and Cellular Regulation </a>, January 12-13, 2018, Chennai, India.</span>

                <br/>
                <span class="sub-details"> Evidence of sinks and sources in the PLC activated PIP
                    <sub>2</sub> cycle </span>

            </li>
            <li>
                <span>
                    <a href="http://stemphys.nbi.ku.dk/workshops/workshop-on-physical-concepts-in-stem-cell-biology/" target="_blank">
                        Physical Concepts in Stem Cell Biology </a>, August 6-10, 2017, Tisvildeleje, Denmark.</span>
                <br/>
                <span class="sub-details"> Evidence of sinks and sources in the PLC activated PIP
                    <sub>2</sub> cycle </span>

            </li>
            <li>


                <span>
                    <a href="http://ncbs-theobio2.riken.jp/" target="_blank"> NCBS-RIKEN joint meeting for theoretical approaches in biology </a>, April 7-10, 2015, Wako, Japan.</span>
                <br/>
                <span class="sub-details">Speeding up PI(4,5)P
                    <sub>2</sub> recovery with top gear </span>
            </li>
        </ul>
    </div>
    <div class={{commonClass}}>
        <h3>Posters</h3>
        <div class="blank-div"> </div>
        <ul class="list">
            <li>
                <span>EMBL Symposium: Tissue Self-Organisation, March 11-14, 2018 Heidelberg, Germany.</span>
                <br/>
                <span class="sub-details">Evidence of sinks and sources in the PLC activated PIP
                    <sub>2</sub> cycle</span>
            </li>
            <li>
                <span>2nd International FishMed Conference on Zebrafish Research, March 25-27, 2018 Warsaw, Poland.</span>
                <br/>
                <span class="sub-details">Evidence of sinks and sources in the PLC activated PIP
                    <sub>2</sub> cycle</span>
            </li>
            <li>
                <span>Celebrating diversity in Biology - NCBS Annual Talks, January 3-5, 2018 Bangalore, India.</span>
                <br/>
                <span class="sub-details">Evidence of sinks and sources in the PLC activated PIP
                    <sub>2</sub> cycle</span>
            </li>
            <li>
                <span>Futures in Biology - NCBS Annual Talks, January 11-14, 2017 Bangalore, India.</span>
                <br/>
                <span class="sub-details">The Hitchhiker's Guide to The Regulation of PI(4,5)P
                    <sub>2</sub> Cycle During Drosophila melanogaster Phototransduction </span>
            </li>
            <li>
                <span>Biology across scale - NCBS Annual Talks, January 5-8, 2015 Bangalore, India.</span>
                <br/>
                <span class="sub-details">Regulation of levels of PI(4,5)P
                    <sub>2</sub> on the plasma membrane</span>
            </li>
            <li>
                <span>Aspects of gene regulation, December 16 2014 Chennai, India.</span>
                <br/>
                <span class="sub-details">PI(4,5)P
                    <sub>2</sub> dynamics during Drosophila melagogaster phototransduction</span>
            </li>
            <li>
                <span>NCBS Annual Talks, January 15-17, 2014 Bangalore, India.</span>
                <br/>
                <span class="sub-details">PI(4,5)P
                    <sub>2</sub> dynamics during Drosophila melagogaster phototransduction</span>
            </li>

        </ul>
        <div class="blank-div"> </div>
    </div>
    <div class={{commonClass}}>
        <h3>Other conferences</h3>
        <div class="blank-div"> </div>
        <ul class="list">
            <li>Bangalore Complexity meeting, Bangalore, India (4 - 6 Feb 2017)</li>
            <li>Inositide signalling in health and disease, Coorge, India (28 Nov – 2 Dec 2012)</li>
            <li>Bioprospecting: Access for Sustainable Development, Allahabad, India (19-20 Feb, 2010)</li>
        </ul>
    </div>

    <div class={{commonClass}}>
        <h3>Workshop Organization</h3>
        <div class="blank-div"> </div>
        <ul class="list">
            <li>
                <a href="https://ncbs-students.github.io/Workshop2017/" target="_blank"> Informal Programming Workshop </a>, NCBS, Bangalore, India </li>
        </ul>
    </div>

    <div class="blank-div"> </div>
    <div class="blank-div"> </div>

</div>