<div class="columns is-multiline is-centered">

  <div class="notification is-danger" *ngIf="alertShow">
    <button class="delete" (click)="alertShow=false"></button>
    So far, this demo has only successfully worked on Chrome 30.0.1599 and above. If you are in some other browser, you might see only
    text and no demo !
  </div>

  <h2 class="title column is-12">Project Life Demo 1.0</h2>
  <span class="column is-12">I started working on this project along with '<a href="demo/campus">Project Campus</a>'. I was
    inspired by GTA and other exploring RPGs. In this project, I was trying to make daily life of person with some objects.
    You need to eat, sleep and gain knowledge to survive. Again, this is incomplete development. I abandoned this project
    later on because lower interest in Flash. </span>
  <div class="column is-12 has-text-centered">
    <object type="application/x-shockwave-flash" data="assets/other/life_demo.swf" width="500" height="300">
      <param name="movie" value="assets/other/life_demo.swf" />
      <param name="quality" value="high" />
    </object>
  </div>
</div>