<div class="row flex-items-xs-center">
    <div class="col-lg-8 row flex-items-xs-center">
        <div>
            <h3>Contacts</h3>
        </div>
        <p> I would love to keep in touch! You can email me at <b>'rohitsuratekar@gmail.com'</b> or can contact through any of
            following networking sites. If you like my work, you can follow/subscribe to my page/account :)
        </p>
    </div>
    <div class="row col-lg-8">
        <div class= {{cardClass}}>
            <div class="card">
                <div class="card-header">
                    Social Networks
                </div>
                <div class="card-block">
                    <ul class="list">
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Google Plus</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class= {{cardClass}}>
            <div class="card">
                <div class="card-header">
                    Professional Profiles
                </div>
                <div class="card-block">
                    <ul class="list">
                        <li>ORCID</li>
                        <li>LinkedIn</li>
                        <li>ResearchGate</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class= {{cardClass}}>
            <div class="card">
                <div class="card-header">
                   Developer Profiles
                </div>
                <div class="card-block">
                    <ul class="list">
                        <li>GitHub</li>
                        <li>StackOverflow</li>
                        <li>BitBucket</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class= {{cardClass}}>
            <div class="card">
                <div class="card-header">
                   Photography
                </div>
                <div class="card-block">
                    <ul class="list">
                        <li>500px</li>
                        <li>Instagram</li>
                        <li>NatGeo YourShot</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class= {{cardClass}}>
            <div class="card">
                <div class="card-header">
                   Art
                </div>
                <div class="card-block">
                    <ul class="list">
                        <li>Personal Blog</li>
                        <li>Behance</li>
                        <li>YouTube</li>
                        <li>Science Blog</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class= {{cardClass}}>
            <div class="card">
                <div class="card-header">
                   Other
                </div>
                <div class="card-block">
                    <ul class="list">
                        <li>BoardGameGeek</li>
                        <li>GoodReads</li>
                        <li>WikiMedia</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
