<div class="alert alert-app-level alert-warning" *ngIf="alertShow">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
      </div>
      <span class="alert-text">So far, this demo has only successfully worked on Chrome 30.0.1599.
                If you are in some other browser, you might see only text and no demo !
            </span>
      <div class="alert-actions">
        <button class="btn alert-action" (click)="goHome()">Go Home</button>
      </div>
    </div>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="alertShow=false">
        <clr-icon aria-hidden="true" shape="close"></clr-icon>
    </button>
</div>

<div class="row flex-items-xs-center flex-items-xs-middle ">

  <h2>Project Campus Demo 1.0</h2>
  <span class="dummy-spacer">‘Project Campus’ was started in 2009. It was time when Flash had recently purchased by Adobe from Macromedia Inc. There was hype of small flash
    games. After looking at click based flash games, I decided to make my own game. I made this game entirely from scratch
    in ActionScript 3.0. I used our college hostel map for making game this world. I never completed this game. Here I am
    uploading whatever beta version I completed. This is now completely outdated technology and I am keeping here for historical
    purpose. After this game, I implemented flash snippets in many places. One of the Online Treasure Hunt I had made for
    our college technical fest was pretty famous. </span>
  <div class="row flex-items-xs-center  col-xs-12">
    <object type="application/x-shockwave-flash" data="images/campus_demo.swf" width="550" height="400"> 
   <param name="movie" value="images/campus_demo.swf" />
   <param name="quality" value="high" />
  </object>

  </div>
</div>