<div class="columns  is-centered is-multiline">
  <div class="column is-12 content has-text-centered is-paddingless">
    <h1 class="title">(S)he</h1>
    <strong>Aparna Agarwal and Rohit Suratekar</strong>
  </div>
  <div class="column is-12 columns is-centered ">
    <div class="column is-8 has-text-centered is-paddingless"
         style="text-align: justify; text-justify: inter-word">
      While trying out different ways of making comic strips on various topics,
      I decided to try my hands at something new! Rather than comedizing a
      story, I chose a poem instead. I had initially thought of working on my
      <a routerLink="/write">own</a> old poems but later I
      decided to use a
      third-party poem to give myself some room for new poetic scenarios in the
      process. Fortunately, I
      am surrounded by a host of talented artists, including poets. My Ph.D.
      batchmate, <a href="https://twitter.com/StorytellingApe" target="_blank">Aparna</a>,
      is a
      fantastic poet and had earlier sent me some of her works for a read. I
      chanced upon this fortuitous opportunity and went
      on to comedize one of her poetic works, with her due permission. The poem
      used in this comic is copyright of Ms. Aparna Agarwal. However, the comic
      interpretation is my intellectual property. I hope my conception of
      Aparna's poem has been able to recapitulate some parts of the original
      poem :D Such was the beauty of this exercise, that the same piece of art
      is perceived differently by different artists. I have added a lot of
      small details and artistic arrangement of elements to convey my emotions
      and perspectives.
      <br>
      Enjoy the beautiful poem :)
    </div>
  </div>
  <div class="column is-12 content has-text-centered is-paddingless">
    <a href="/assets/other/she_2019.pdf" target="_blank">
      <div class="button is-primary ">Read Full Comic (440.4 kB)</div>
    </a>
  </div>

</div>
