<clr-tabs>
  <clr-tab>
    <button clrTabLink id="link1">Projects</button>
    <clr-tab-content id="content1" *clrIfActive="true">
      <div class="row flex-items-xs-center">
        <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12" *ngFor="let card of projects">
          <div class="card">
            <div class="card-header">
              {{card.title}}
            </div>
            <div class="card-block">
              <div class="card-title">
                {{card.duration}}
              </div>
              <div><span class={{getTagClass(word)}} *ngFor="let word of card.keywords" (click)='setTag(word)'>{{word}}</span></div>
              <div class="card-text">
                {{card.details}}
              </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-sm btn-link">More</button>
            </div>
          </div>
        </div>
      </div>


    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>Publications and Talks</button>
    <clr-tab-content *clrIfActive="false">
      <app-publications></app-publications>
    </clr-tab-content>
  </clr-tab>
</clr-tabs>