<div class="row flex-items-xs-center">
  <div class=" row col-lg-10 flex-items-xs-center">
    <h3>Background</h3>
    <p>Like most small children, I started scribbling on any blank space that was available,
        be it on newspapers or empty walls. My mother being a good painter herself,
        was very enthusiastic to nurture the artist in me. I like sketching, and currently
        exploring various aspects of comic art.</p>
</div>
<div></div>
<div class=" row col-lg-10 flex-items-xs-center"><h3>Selected Sketches</h3></div>
<div class="row flex-items-xs-center flex-items-xs-middle col-lg-10">
    <div class="col-xs-10 col-sm-5 col-md-5 col-lg-3" *ngFor = "let p of pics">
        <img class="myImg" (click)="onImageClick(p)" src="images/draw/{{p}}">
    </div>
</div>
</div>

<div class="row flex-items-xs-center" style="margin:5px">
        <a href="credits" style="margin-right:3px"> See </a> copyright notice about content.
   </div>


<!-- The Modal -->
<div class="modal" *ngIf="showImage" (click)="showImage=false">
    <!-- The Close Button -->
    <span class="close" (click)="showImage=false">&times;</span>
    <!-- Modal Content (The Image) -->
    <img class="modal-content" src="images/draw/{{currentPic}}">
  </div>