<div style="padding : 10px;">
    <md-card [style.background]="'#81d4fa'">
        <md-card-content>
            <h2>{{getInfo().title}}</h2>
            <md-chip-list>
                <md-chip *ngFor="let key of getInfo().keywords" style="margin : 2px; cursor:pointer;"> {{key}}</md-chip>
            </md-chip-list>
            <p>{{getInfo().details}}</p>
        </md-card-content>
        <div class="md-actions" layout="row" class="">
            <div fxFlex></div>
            <button md-button>Read More</button>
        </div>
    </md-card>
</div>