<div fxLayout = "column" fxFill class="home-background">
  <div fxFlex="5"></div>
  <div fxLayout="row" fxHide.gt-xs="true">
    <div fxFlex="10"></div>
    <div fxLayout="column">
        <app-home-card [sectionNo]=0></app-home-card>
        <app-home-card [sectionNo]=1></app-home-card>
        <app-home-card [sectionNo]=2></app-home-card>
        <app-home-card [sectionNo]=3></app-home-card>
    </div>
    <div fxFlex="10"></div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" fxHide="true" fxHide.gt-xs="false" fxFlex="90" >
      <div fxFlex="5"></div>
      <div fxLayout="row" fxFlex="50" >
          <app-home-card [sectionNo]=0 ></app-home-card>
          <app-home-card [sectionNo]=1 ></app-home-card>
      </div>
      <div fxLayout="row" fxFlex="50" >
          <app-home-card [sectionNo]=2  ></app-home-card>
          <app-home-card [sectionNo]=3  ></app-home-card>
      </div>
      <div fxFlex="5"></div>
  </div>
  <div fxLayoutAlign="center center"  fxFlex="5"><span class="footer-style"> Designed by Rohit Suratekar</span></div>
</div>
