<div class="columns is-centered is-multiline">

  <div class="columns column is-12 is-centered">
    <div class="column is-8 has-text-centered content">
      <p class="title is-4">Background</p>
      <p class="justify-this">
        Like most small children, I started scribbling on any blank space that was available, be it on newspapers or
        empty walls. My mother being a good painter herself, was very enthusiastic to nurture the artist in me. I like
        sketching,
        and currently exploring various aspects of comic art.</p>
        <p class="title is-4">Selected Sketches</p>
    </div>

  </div>

  <div class="columns column is-8 is-multiline">
    <div class="column is-4" *ngFor="let p of pics">
      <img class="myImg" (click)="onImageClick(p)" src="assets/img/draw/{{p}}">
    </div>
  </div>

</div>

<!-- The Modal -->
<div class="my-modal" *ngIf="showImage" (click)="showImage=false">
    <!-- The Close Button -->
    <span class="close" (click)="showImage=false">&times;</span>
    <!-- Modal Content (The Image) -->
    <img class="my-modal-content" src="assets/img/draw/{{currentPic}}">
</div>