<div class="columns is-centered is-multiline">
  <a class="columns column is-5 box is-paddingless shadow-box" style="margin:16px" *ngFor="let card of artCardList"
    [ngStyle]="{'background' : card.color}" [routerLink]="[card.link]">
    <div class="column is-6 is-paddingless">
      <figure class="image">
        <img src="assets/img/art/{{card.image}}">
      </figure>
    </div>
    <div class="column">

      <p class="title is-4">{{card.name}}</p>
      <p>
        {{card.description}}
      </p>

    </div>
  </a>
</div>