<div class="row flex-items-xs-center">
    <div class="col-lg-8">
        <h2>Seriously?</h2>
        <p>
            I don’t think I can call this as ‘skill’ but I have done some writing in past. Hence taking this opportunity to boast my
            work. My writing ‘skills’ developed as side product of my designing work. When I was in school, I used to make
            small magazine pages. Hence, I was always in need of some or another essay and designs. We were small group of
            friends who were actively involved in drama performances. This also required little bit fiction writing. However,
            my actual writing skill was in poetry. I used to make small Marathi poems when I was in school. I still do it
            once in a while. My father had encouraged me a lot for making poems. Few of my poems has been published in various
            magazines. I have also tried making few in English and Hindi but majority of them are in Marathi. Besides poem
            writing, I used to <a href="https://rohitsuratekar.wordpress.com/" target="_blank"> blog </a>for some time, especially during my college days. Now a day only writing I do is science
            manuscript writing and occasional poems.
        </p>
        
    </div>

    <div class="col-lg-12 row flex-items-xs-center"><h4>Selected Poems (in Marathi)</h4> </div>

    <div class="row col-lg-8">

        <div class= {{poemClass}}>
            <h4>आठवण </h4>
            <p>
                सकाळची किरणे कोवळी असायची <br> चहाचा सुगंध त्यांच्यात मिसळून ती खूप वेगळीच वाटायची <br> रात्रीची झोप ते डोळे
                अर्धवट धरून ठेवायची <br> अर्ध्या किरणांमुळे त्यांची अर्धीच प्रतिमा दिसायची <br><br> सकाळचा नाश्ता म्हणजे
                संपूर्ण जेवणच <br> घड्याळाची टिक टिक त्या लोणच्यात झोंबायची <br> कालचा गृहपाठ म्हणजे वार्षिक परीक्षाच <br>                गडबडीतल्या उपदेशाने संपूर्ण चपाती करपायची<br><br> ढगांचा रंग लालसर झाला कि कान टोकरायचे <br> कुंफनाची चाके
                करा करा वाजायची <br> राजाच्या शेपटीचा आवाज यातूनच ऐकायचा <br> उतावळेपणाने नजर गाडीच्या आवाजात घुंफायची <br><br>                रात्रीचा बेत ठरवत चहाला झुरकी मारायची <br> कालची अर्धवट गोष्ट आजही पुरून उरायची <br> परवाची बातमी अजूनही
                कानात झुरायची <br> शोधावेड्या मनाला आजही आठवण करायची

            </p>
        </div>

        <div class= {{poemClass}}>
            <h4>आयुष्य मर्यादित आहे म्हणे</h4>
            <p>
                आयुष्य मर्यादित आहे म्हणे <br> म्हणून शिकायला लागलो <br> आकर्षण वाटले नाही म्हणून <br> कविता करू लागलो <br><br>                कवी लोकांना वाईट दिवस आहेत म्हणे <br> म्हणून अभियंता झालो <br> पोटासाठी काही तरी केले पाहिजे म्हणून <br>                नोकरी करू लागलो <br><br> नोकरीत काही रस नाही म्हणे <br> म्हणून उच्चशिक्षित झालो<br> विज्ञानासाठी काही तरी
                केले पाहिजे म्हणून<br> संशोधन करू लागलो<br><br> संशोधनात काही हाताला लागत नाही म्हणे<br> म्हणून स्वतः चा
                धंदा करू लागलो<br> समाजासाठी काही तरी केले पाहिजे म्हणून<br> समाजसेवा करू लागलो<br><br> समाजसेवेत राजनीती
                असते म्हणे<br> म्हणून घरात बसून राहिलो<br> आयुष्य मर्यादित आहे म्हणे<br> म्हणून पुन्हा शिकायला लागलो
            </p>
        </div>
        <div class= {{poemClass}}>
            <h4>कधी एकदा ...</h4>
            <p>
                कधीतरीच ते फुलपाखरू त्या झाडावर जाते <br> त्याच्या छोट्या आयुष्याचा विचार केला तर <br> केवढा वेळ मिळत असेल
                त्यावर ?<br> आजू बाजूला आहेत भरपूर फुलझाडे <br> त्याच्या पसंतीचा विचार केला तर <br> जगावेगळी वाटत नाही काय
                ?<br> झाडावर आहेत भरपूर भक्षक <br> त्याच्या धाडसाचा विचार केला तर<br> त्याला भीती वाटत नसेल काय ?<br> जूने
                सवंगडी सारखे खुणावत आहेत <br> त्यांच्या अनुभवाचा विचार केला तर <br> त्याने निर्णय बदलला पाहिजे ना ?<br> त्या
                इकडून तिकडे तिकडून इकडे घिरट्या <br> अश्या वागण्याचा विचार केला तर <br> त्याच्या मानत विचारांचे काहुर असेल
                काय ?
            </p>
        </div>

        <div class= {{poemClass}}>
           <h3> साहेब आमच्याकड नशिबाच नाय !</h3>
           <p>
            रोज काम कारायला जातो <br>
            अंगात दम असेल तोवर काम करतो<br>
            ५०-१०० रुपयात समाधान मानतो<br>
            रात्री झोपताना नशिबालाच दोष देतो<br>
            साहेब आमच्याकड नशिबाच नाय !<br><br>
            रोज साहेबांच्या गाडी कडे टक लावून पाहतो<br>
            मनातल्या मनात गाडी चालवून पाहतो<br>
            शेवटी चालतच घरी पोहचतो<br>
            रात्री घरी परताना नशिबालाच दोष देतो<br>
            साहेब आमच्याकड नशिबाच नाय !<br><br>
            रोज त्या दुकानातील मिठाई बघतो<br>
            कधीतरी खाण्यासाठी पैसे गोळा करतो<br>
            नंतर तीच रक्कम मीठ-साखर आणायला वापरतो<br>
            रात्री जेवताना नशिबालाच दोष देतो<br>
            साहेब आमच्याकड नशिबाच नाय !<br><br>
            रोज बाजुश्याशी स्पर्धा करतो<br>
            जीव तोडून काम करण्याची शप्पथ घेतो<br>
            दोन दिवसांनी लायकी नाही म्हणतो<br>
            रात्री स्वप्नातही नशिबालाच दोष देतो<br>
            साहेब आमच्याकड नशिबाच नाय !<br><br>
            परिस्थितीने असे झाले कि<br>
            आपल्यामुळे अशी परिस्थिती झाली<br>
            कुठलीही बाजू असुदे<br>
            शेवटी नशिबालाच  दोष देतो<br>
            साहेब आमच्याकड नशिबाच नाय !
          </p>
        </div>
    </div>
</div>
