<div class="columns is-multiline is-centered">
  <div class="column is-12-mobile is-8-tablet is-8-desktop">
    <div class="card shadow-box">
      <div class="card-image">
        <figure class="image">
          <img src="assets\img\facts\erdos.png" alt="Alma matter">
        </figure>
      </div>
      <div class="card-content" style="background:#e5eaea">
        <div class="content is-size-6 justify-this">
          My Erodos number is <strong>5</strong>.
        </div>
      </div>
    </div>
  </div>
</div>