<div class="columns is-centered is-multiline">
  <div class="column is-3">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          How it all started ?
        </p>
      </header>
      <div class="card-image">
        <figure class="image">
          <img src="assets/img/photo/rohit_suratekar_photo.jpg" alt="Rohit Photo">
        </figure>
      </div>
      <div class="card-content">

        <div class="content">
          I have always been attracted towards visual art and spent a considerable part of my childhood clicking
          photographs from my father’s vintage camera. Fascinated by the advent of digital technology, like many
          others, I resorted to capturing moments from my new digital camera, which was gifted to me by my father to
          mark my graduation from college. However, my real experience with photography started when I laid my hands on
          a SLR camera in early 2014. Soon I became a so-called amateur with photography, as well as cinematography.
        </div>
      </div>
      <footer class="card-footer">
        <a href="https://www.instagram.com/rohitsuratekar/" class="card-footer-item" target="_blank">Check Gallery</a>
      </footer>
    </div>
  </div>
  <div class="column is-3">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          What do I have ?
        </p>
      </header>
      <div class="card-image">
        <figure class="image">
          <img src="assets/img/photo/camera.jpg" alt="Rohit Photo">
        </figure>
      </div>
      <div class="card-content">

        <div class="content">
          Canon 600D, Canon EF-S 18-55mm f/3.5-5.6 IS II, Canon EF-S 55 - 250 mm f/4-5.6 IS II, Yongnuo 50mm f/1.8,
          Canon EF 100mm f/2.8L Macro, Vanguard CX203AGH Espod, Few triggers and Filters </div>
      </div>
      <footer class="card-footer">
        <a href="https://www.instagram.com/rohitsuratekar/" class="card-footer-item" target="_blank">Check Gallery</a>
      </footer>
    </div>
  </div>
  <div class="column is-3">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          What do I like ?
        </p>
      </header>
      <div class="card-image">
        <figure class="image">
          <img src="assets/img/photo/fly.jpg" alt="Rohit Photo">
        </figure>
      </div>
      <div class="card-content">

        <div class="content">
          Though I like experimenting with various genres of photography, in general, macro photography has been a
          personal favourite. </div>
      </div>
      <footer class="card-footer">
        <a href="https://www.instagram.com/rohitsuratekar/" class="card-footer-item" target="_blank">Check Gallery</a>
      </footer>
    </div>
  </div>
</div>