<div class="row flex-items-xs-center">
    <div class="row flex-items-sx-center col-lg-8">
        <h3>Video and Cinematography</h3>
        <p>While learning photography, I also learned videography and cinematography. I have taken up few projects related to
            this and have done some basic video recordings of various events. I am still in process of learning basics. I
            do post processing via various different tools like Adobe Primer Pro, Adobe After Effects, Adobe Audition, Kdenlive
            etc. </p>
    </div>
    <div class="col-lg-8">
        <h3>Cinematography</h3>
        <ul class="list">
            <li> <a href="https://www.youtube.com/watch?v=0gedMXoTgTY" target="_blank">The Scientist (2006) </a> - a short film about
                typical life of researcher</li>
            <li><a href="https://www.youtube.com/watch?v=_Kq_09YzXcc" target="_blank"> Tick-Tock </a> - Open Sky Slam poetry</li>
        </ul>
        <h3>Timelapse Videos</h3>
        <li><a href="https://www.youtube.com/watch?v=-C-a8HQl41I" target="_blank">Misty Mountains</a> (Munnar, Kerala)</li>
        <li><a href="https://www.youtube.com/watch?v=aZ2eAJr2Ybg" target="_blank">Thunderstorm</a> (Bangalore, Karnataka)</li>
        <li> <a href="https://www.youtube.com/watch?v=bqmzpVRC51k" target="_blank"> The Infamous Bangalore Traffic</a> (Bangalore,
            Karnataka)</li>
        <li>BIA Airport Promo (not released yet)</li>
        <h3>Event recordings</h3>
        <ul class="list">
            <li><a href="https://www.youtube.com/watch?v=68bsJv38J60" target="_blank">Anamika - The nameless with many face(t)s</a>                - classical dance performance (Seva Sadan, Bangalore)</li>
            <li> <a href="https://www.youtube.com/watch?v=xuM3tEUrOLU" target="_blank">Improv Comedy Bangalore </a> - improve
                comedy performance (NCBS, Bangalore)</li>
            <li> <a href="https://www.youtube.com/watch?v=ryaFyE4ykvI" target="_blank">Dashavatar</a> - classical dance performance
                (NCBS, Bangalore) </li>
            <li><a href="https://www.youtube.com/watch?v=9MPg_1wtnu0" target="_blank">Colors of India </a> - folk dance performance
                (NCBS, Bangalore)</li>
        </ul>
        <h3>Interviews </h3>
        <ul class="list">
            <li>NCBS Annual Talks 2014(video publicly not available)</li>
            <li>Untold Narratives (video publicly not available)</li>
        </ul>
    </div>
</div>
