<div class="columns is-centered">
  <div class="column is-8 content">
    <div *ngIf="redirectState==1">
      <p>
        Redirecting to
        <a href="https://rohitsuratekar.github.io/">https://rohitsuratekar.github.io/</a>
      </p>
    </div>
    <div *ngIf="redirectState==2">
        <p>
          Redirecting to
          <a href="https://youtu.be/BSEqAldX5G4">https://youtu.be/BSEqAldX5G4</a>
        </p>
    </div>
    <div *ngIf="redirectState==3">
      <p>
        Redirecting to
        <a href="https://1drv.ms/f/s!Aqs4IyCTMRMO2BU1DGPBdMrP4cPf">https://1drv.ms/f/s!Aqs4IyCTMRMO2BU1DGPBdMrP4cPf</a>
      </p>
  </div>
  </div>
</div>