<nav class="navbar is-dark" style="background-color:#363636">
  <div class="navbar-brand">
    <figure class="image navbar-item">
      <svg width="30" height="30" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 288 288">
        <defs>
          <style>
            .cls-1 {
              fill: #175d8d;
            }

            .cls-2 {
              fill: #047cc0;
            }

            .cls-3 {
              fill: #1d364d;
            }

            .cls-4 {
              fill: #1c496d;
            }
          </style>
        </defs>
        <title>web_logo</title>
        <polygon class="cls-1" points="144 0 288 0 288 99 243 99 243 54 189 54 189 117 288 117 288 288 144 288 144 189 189 189 189 234 243 234 243 171 144 171 144 0" />
        <path class="cls-2" d="M288,315V144H144V432h45V378h54v54h45V333H189V315Zm-99-54V198h54v63Z" transform="translate(-144 -144)" />
        <rect class="cls-3" x="144" y="189" width="18" height="99" />
        <rect class="cls-3" x="144" width="18" height="171" />
        <rect class="cls-3" x="162" width="9" height="18" />
        <rect class="cls-3" x="162" y="270" width="9" height="18" />
        <rect class="cls-4" x="162" y="189" width="9" height="81" />
        <rect class="cls-4" x="162" y="18" width="9" height="153" />
      </svg>
    </figure>
    <a class="navbar-item" [ngClass]="{'is-active': currentNav === 1 }" [routerLink]="['/home']" (click)="changeNav(1)">
      <h1 class="subtitle has-text-white">Rohit Suratekar</h1>
    </a>
    <div class={{burgerClass}} data-target="mainNavbar" (click)="toggleNav()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="mainNavbar" class={{navClass}}>
    <div class="navbar-end">
      <a class="navbar-item" [ngClass]="{'is-active': currentNav === 1 }" [routerLink]="['/home']" (click)="changeNav(1)">
        Home
      </a>
      <a class="navbar-item" [ngClass]="{'is-active': currentNav === 2 }" [routerLink]="['/about']" (click)="changeNav(2)">
        About Me
      </a>
      <a class="navbar-item" [ngClass]="{'is-active': currentNav === 3 }" [routerLink]="['/research']" (click)="changeNav(3)">
        Researcher
      </a>
      <a class="navbar-item" [ngClass]="{'is-active': currentNav === 4 }" [routerLink]="['/developer']" (click)="changeNav(4)">
        Developer
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" [ngClass]="{'is-active': currentNav === 5 }" [routerLink]="['/artist']" (click)="changeNav(5)">
          Artist
        </a>
        <div class="navbar-dropdown is-boxed is-right">
          <a class="navbar-item" [ngClass]="{'is-active': currentNav === 6 }" [routerLink]="['/photography']" (click)="changeNav(6)">
            Photography
          </a>
          <a class="navbar-item" [ngClass]="{'is-active': currentNav === 7 }" [routerLink]="['/draw']" (click)="changeNav(7)">
            Drawing
          </a>
          <a class="navbar-item" [ngClass]="{'is-active': currentNav === 8 }" [routerLink]="['/design']" (click)="changeNav(8)">
            Designing
          </a>
          <a class="navbar-item" [ngClass]="{'is-active': currentNav === 9 }" [routerLink]="['/write']" (click)="changeNav(9)">
            Writing
          </a>
          <a class="navbar-item" [ngClass]="{'is-active': currentNav === 10 }" [routerLink]="['/cinematography']"
            (click)="changeNav(10)">
            Cinematography
          </a>
          <a class="navbar-item" [ngClass]="{'is-active': currentNav === 11 }" [routerLink]="['/comics']" (click)="changeNav(11)">
          Comics
        </a>
        </div>
      </div>
      <a class="navbar-item" [ngClass]="{'is-active': currentNav === 12 }" [routerLink]="['/contact']" (click)="changeNav(12)">
        Contact
      </a>
    </div>
  </div>
</nav>