/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'IBM Plex Sans';
}

.test {
    background-color: red;
}

.shadow-box {
    transition: box-shadow .3s;
    
  }
  .shadow-box:hover {
    box-shadow: 0 0 25px rgba(33,33,33,.2); 
  }

  .main-title {
    font-family: 'Averia Serif Libre'
  }

  .marginless{
    display:block;
    margin-top: 0px;
    line-height: 95%;
  }

.research-subtitle{
font-size: 0.8rem
}

.justify-this{
  text-align: justify; 
  text-justify: inter-word;
}

.align-vertically{
  display: flex;
  justify-content: center; 
}