@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body {
    height: 100%;
    margin: 0;
  }

.regular-spacer {
  flex: 1 1 auto;
}

.test {
    background-color: red;
}

.fill-parent{
  height : 100%;
}

.add-pointer{
  cursor: pointer;
}
.app-footer {
  text-align:center;
  font-size: 12px;
  margin-top: 12px;
  margin-bottom: 6px;
}